---
layout: page
title: Review
---

{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tags_list = site_tags | split:',' | sort %}
<h2>Tags</h2>
<ul>
    {% for item in (0..site.tags.size) %}{% unless forloop.last %}
    {% capture this_word %}{{ tags_list[item] | strip_newlines }}{% endcapture %}
    <li><a href="#{{ this_word }}" class="tag"><span class="term">{{ this_word }}</span><span class="count">({{ site.tags[this_word].size }})</span></a></li>
    {% endunless %}{% endfor %}
  </ul>
  <h2>분류별 글 리스트</h2>
  {% for item in (0..site.tags.size) %}{% unless forloop.last %}
  {% capture this_word %}{{ tags_list[item] | strip_newlines }}{% endcapture %}
  <div style="margin-bottom: 30px;">
  <div id="{{this_word}}"></div>
  <h4>{{this_word}}</h4>
  <hr>
  <ul>
    {% for post in site.categories[this_word] %}{% if post.title != null %}
    <li>
      <small>
        {{ post.date | date: "%b %-d, %Y" }}
      </small>
      <h4>
      <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title | escape }}</a>
      </h4>
    </li>
    {% endif %}{% endfor %}
  </ul>
</div>
{% endunless %}{% endfor %}
