<form action="/search/" method="get" class="search-box">
  <input type="text" class="search-box-input" name="query" placeholder="What are you looking for ?">
  <button class="search-box-btn" type="submit" value="search">
    <i class="fa fa-search search-box-icon"></i>
  </button>
</form>
<style>
  *{
	box-sizing: border-box;
}
}
.container{
	position: absolute;
	top: 10%;
	left: 90%;
	transform: translate(-50%,-50%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
h1{
	color: #08090A;
	font-weight: 400;
}
input, button{
	border: none;
	background: none;
	outline: none;
}
button{
	cursor: pointer;
}
.search-box{
	display: flex;
	background: #fff;
	border-radius: 4em;
}
.search-box-input{
	width: 0px;
	font-size: 1em;
	color: #08090A;
	transition: .5s;
}
.search-box-btn{
	display: flex;
	border-radius: 50%;
	width: 4em;
	height: 4em;
	background: white;
	transition: .3s;
}
.search-box-icon{
	margin: auto;
	color: black;
}
.search-box-input::placeholder{
	color: white;
	opacity: .7;
}
.search-box:hover .search-box-input{
	padding-left: 2em;
	padding-right: 1em;
	width: 340px;
}
.search-box-btn:active{
	transform: scale(.75);
}
</style>
