<div class="sidebar">
  <div class="container">
<!--   <div class="container sidebar-sticky"> -->
    <div class="sidebar-about" style='text align;center>
      <h1>
        <a href="{{ site.url }}">
          {{ site.title }}
        </a>
        
      </h1>
      <br></br>
      <a class='lead' href="https://hits.seeyoufarm.com"><img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fkangsunwoo827.github.io&count_bg=%23434541&title_bg=%23D50101&icon=bilibili.svg&icon_color=%23E7E7E7&title=hits&edge_flat=false"/></a>
      <p class="lead">{{ site.description }}</p>
      <br></br>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.url }}">Home</a>

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
<!--             <a class="sidebar-nav-item active" href="{{ node.url }}">{{ node.title }}</a> -->
          {% endif %}
        {% endif %}
      {% endfor %}

<!--       카테고리별 링크 만들기 -->
      <div>
       {% for cat in site.category_list %}
        <a class="sidebar-nav-item" href="/category/{{cat}}">{{cat | capitalize }}</a>
       {% endfor %}
      </div>
      <br></br>
      <a href="{{ site.owner.facebook }}" target='_blank'> <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
      <a href="{{ site.owner.linkedin }}" target='_blank'> <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
      <a href="{{ site.owner.instagram }}" target='_blank'> <i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
      <a href="{{ site.owner.github }}" target='_blank'> <i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
    </nav>
    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
