<div class="sidebar">
<!--   <div class="container"> -->
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.url }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.url }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
<!--             <a class="sidebar-nav-item active" href="{{ node.url }}">{{ node.title }}</a> -->
          {% endif %}
        {% endif %}
      {% endfor %}

<!--       <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a> -->
   
      {% if site.subscribers %}
        <div id="subscribe" class="subscribe-overlay">
            <a class="subscribe-overlay-close" href="#"></a>
            <div class="subscribe-overlay-content">
                {% if site.logo %}
                    <img class="subscribe-overlay-logo" 
                         src="{{ site.baseurl }}{{ site.logo }}" 
                         alt="{{ site.title }}" />
                {% endif %}
                <h1 class="subscribe-overlay-title">Search {{ site.title }}</h1>
                <p class="subscribe-overlay-description">
                lunr.js를 이용한 posts 검색 </p>
                {% include subscribe-form.html placeholder="keyword" %}
            </div>
        </div>
      {% endif %}
      
      <br></br>
      <a href="{{ site.owner.facebook }}" target='_blank'> <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
      <a href="{{ site.owner.linkedin }}" target='_blank'> <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
      <a href="{{ site.owner.instagram }}" target='_blank'> <i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
      <a href="{{ site.owner.github }}" target='_blank'> <i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
    </nav>
    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
