---
layout: default
---

<div class="page">
  <h1 href="{{ site.baseurl }}{{ page.title }}" class="page-title">{{ page.title }}</h1>
<!--   {% capture site_categories %}
  <a href="{{ site.baseurl }}{{ page.title }}"><span class="term">{{ page.title }}</span><span class="count">({{ site.categories[page.title].size }})</span></a>
  {% endcapture %} -->
</div>

<ul class="posts-list">
  
  {% assign category = page.category | default: page.title %}
  {% for post in site.categories[category] %}
    <li>
      <h3>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
        </a>
        <small>{{ post.date | date_to_string }}</small>
      </h3>
    </li>
  {% endfor %}
  
</ul>
