---
layout: page
---
<div class="page">
  {% assign tags_array = "" | split: ',' %}
  {% for post in site.posts %}{% if post.categories contains page. title%}{% for tag in post.tags %}{% assign tags_array = tags_array | push: tag %}{% endfor %}{% endif %}{% endfor %}
  <a href='#'>{{ tags_array | uniq}} </a>
  
  {% assign tags_list = tags.array | uniq %}
  <ul>
      {% for this_word in tags_list %}{% unless forloop.last %}
      <a href="#{{ this_word }}" class="tag"><li style="list-style-type: none;><span class="term">{{ this_word }}</span></li></a>
      {% endunless %}{% endfor %}
    </ul>
        
    {% for this_word in tags_list %}{% unless forloop.last %}
    <div style="margin-bottom: 30px;">
    <div id="{{this_word}}"></div>
    <hr>
    <h3>{{this_word}}</h3>
    <ul>
      {% for post in site.tags[this_word] %}{% if post.title != null %}{% if post.categories contains page.title %}
      <li>
        <h4>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
          </a>
          <small>{{ post.date | date_to_string }}</small>
        </h4>
      </li>
      {% endif %}{% endif %}{% endfor %}
    </ul>
  </div>
  {% endunless %}{% endfor %}
</div>


